.participant-form{
    margin-bottom: 20px;
}
.cm__participant__title {
    padding: 15px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggler {
    height: 32px;
    width: 32px;
    padding: 4px;
    border:1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.toggler:before {content: "\2212";color: #000;font-size: 36px;line-height: 22px;display: block;}
.toggler.active:before {
    content: "+";
}
.field__group_12 {
    margin-bottom: 20px;
}
.group__for__textarea {
    margin-bottom: 30px;
	    padding-bottom: 20px;
}
.field__group_full > label,
.field__group_12 > label,
.cm__participant__title p {
    font-size: 18px;
    font-weight: bold;
}
.field__group_12 input {
    margin-left: 0;
}
.field__group_3 {
    display: flex;
	align-items: flex-end;
    margin: 0 -15px;
}

.field__group_3 .cm__input__feild {
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
	.field__group_3 {
		display: block;
	}
	.field__group_3 .cm__input__feild {
		width: 100%;
	}
}
.cm__form__wrap .cm__input {
    padding: 10px 0 16px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d1d1d1;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    outline: none;
	display: block;
}

.cm__form__wrap ::-webkit-input-placeholder { /* Edge */
  color: #000;
}

.cm__form__wrap :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}

.cm__form__wrap ::placeholder {
  color: #000;
}

.cm__btn__field button {
    padding: 8px 40px;
    font-size: 16px;
    line-height: 26px;
    border-radius: 99999px;
    border: 1px solid #96d02c;
    background: #96d02c;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.3s ease;
}

.cm__btn__field button:hover {
    color: #96d02c;
    background: transparent;
}

label.cm__feild__label {
    font-size: 14px;
    line-height: 1;
    color: #8e8d8d;
}

.cm__input__feild__number__wrap {
    position: relative;
}

.cm__input__feild__number__wrap .cm__input__contact {
    width: 30px;
    height: 47px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0 16px;
    font-size: 14px;
    line-height: 20px;
}

.cm__input__feild__number__wrap .cm__input {
    padding-left: 30px;
}
.mb-10 {
    margin-bottom: 10px;
}

/*backend profile page style*/
.wp-core-ui.profile-php #wpcontent, 
.wp-core-ui.profile-php {
    background: #fff;
    margin: 0;
}
.wp-core-ui.profile-php #wpadminbar {
    background: #e2e2e2;
    height: auto;
    border: 0;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.wp-core-ui.profile-php #wpadminbar #wp-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 1;
}
.wp-core-ui.profile-php #wpcontent {
    padding-top: 40px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.wp-core-ui.profile-php #wpadminbar {
    background: #eaeaea;
    height: auto;
    border: 0;
}
.wp-core-ui.profile-php #profile-page h2:not(:last-of-type),
.wp-core-ui.profile-php #profile-page .form-table:not(:last-of-type):not(:nth-of-type(4)),
.wp-core-ui.profile-php #wpcontent #wp-admin-bar-top-secondary img,
.wp-core-ui.profile-php #adminmenuback, 
.wp-core-ui.profile-php #adminmenuwrap, 
.wp-core-ui.profile-php #wpfooter, 
.wp-core-ui.profile-php #screen-meta-links .show-settings, 
.wp-core-ui.profile-php #wpcontent #wp-admin-bar-root-default li:not(:last-child), 
.wp-core-ui.profile-php #wpcontent #wp-admin-bar-root-default ul, 
.wp-core-ui.profile-php #wpcontent #wp-admin-bar-root-default a:before {
    display: none !important;
}
.wp-core-ui.profile-php #wpcontent #wp-admin-bar-root-default .menupop a.ab-item {
    background: #eaeaea url(http://potomac.bonzoheads.com/wp-content/uploads/2019/10/potomac-logo.png) no-repeat center;
    background-size: 200px;
    font-size: 0;
    height: auto;
    width: 240px;
    padding: 35px 0;
    margin: 0;
    display: block;
    float: none;
    position: static;
}
.wp-core-ui.profile-php #wpcontent #wp-admin-bar-top-secondary {
    padding-right: 26px;
}
.wp-core-ui.profile-php #wpcontent #wp-admin-bar-top-secondary .menupop a.ab-item {
    color: #000;
    background: transparent;
}
.wp-core-ui.profile-php #wpcontent #wp-admin-bar-top-secondary ul#wp-admin-bar-user-actions {
    background: #fff;
}
.wp-core-ui.profile-php #wpcontent #wp-admin-bar-top-secondary ul#wp-admin-bar-user-actions li{
    margin-left: 16px;
    margin-right: 16px;
}
.wp-core-ui.profile-php #profile-page h1.wp-heading-inline {
    font-size: 38px;
    font-weight: bold;
    line-height: 48px;
}
.wp-core-ui.profile-php #profile-page h1.wp-heading-inline:after {
    content: "";
    background: #96cd33;
    display: block;
    height: 5px;
    width: 80px;
    margin-top: 20px;
}
.wp-core-ui.profile-php #profile-page h2,
.wp-core-ui.profile-php #profile-page h3 {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
    margin-bottom: 0;
    margin-top: 70px;
}
.wp-core-ui.profile-php #profile-page input[type="file"]{
    padding: 0px;
    border-radius: 0;
    border: 0;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    outline: none;
    display: block;
    box-shadow: none;
    width: 25em !important;
    background: transparent;
}
.wp-core-ui.profile-php #profile-page #submit {
    padding: 8px 40px;
    font-size: 16px;
    line-height: 26px;
    border-radius: 99999px;
    border: 1px solid #96d02c;
    background: #96d02c;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.3s ease;
    width: auto !important;
}
.wp-core-ui.profile-php #profile-page #submit:hover {
    color: #96d02c;
    background: transparent;
}
.wp-core-ui.profile-php #profile-page .button {
    border-color: #96d02c;
    color: #96d02c;
}

.wp-core-ui.profile-php #profile-page .button:hover {
    background: #96d02c;
    color: #fff;
    border-color: #96d02c;
}
.wp-core-ui.profile-php #profile-page .form-table tbody tr:not(:last-of-type){
    border-bottom: 1px solid #d1d1d1;
}
.wp-core-ui.profile-php #profile-page .form-table tbody tr td{
	width: calc(100% - 200px);
}